
ul {
    text-align: center;
    margin-top: ;
}

li {
    display: inline;
    box-sizing: border-box;
    line-height: 18px;
    margin: 25px 20px 25px 20px;
}

.link {
    text-decoration: none;
    color: #FF0000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 2.7px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.content {
    width: 1280px;
    height: 789px;
    margin-top: 25px;
    margin-bottom: 49px;
}

.title {
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: black;
    text-align: center;
}

.text {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #373737;
    padding-top: 20px;
    line-height: 26px;
    letter-spacing: 2.4px;
    margin-right: 67.5px;
    margin-left: 67.5px;
    
}

button {
    background-color: #FF0000;
    border-radius: 4px;
    padding: 18px 43px 17px 42px;
    font-size: 18px;
    color: #FFFFFF;
    border: none;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin: 0 auto;
    display: inline-block;
    margin-bottom: 82px;
}

.text_footer {
    margin-left: 700px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2.4px;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 25px;
    text-align: right;
}
.main {text-align: center;}